:root {
  --primary-text-color: #434455;
  --background-color: #ffffff;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primare-background-color: #f4f4fd;
  --hovet-background-color: #404bbf;
  --secondary-font-color: #FFFFFF;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

/* колір основного тексту #434455*/
/* вторичний колір тексту #2E2F42*/
/* колір акцент #4d5ae5*/
/* білий колір №FFFFFF*/
/* вторичний колір фона #F4F4FD*/


.link {
  text-decoration: none;
}

.list {
 /* padding: 0;
  margin: 0;*/
  list-style: none;
}

/*.section.no-padding {
padding-top: 0;
padding-bottom: 0;
}*/

/* Header */

.header {
  padding: 24px 0;

}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}
.header-subject {
  color: var(--title-text-color);
  text-decoration: none;
}

.header-list {
display: flex;
gap: 40px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  /*margin-left: auto;*/
}
/*.header-address {
  margin-left: auto;
}*/
.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-address {
  margin-left: auto;
}
.header-mailto {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-right: 40px; 
}

.header-tel {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-mailto:hover {
  color: var(--accent-color);
}

.header-tel:hover {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background: var(--title-text-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-conrainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-direction: column;

}
.hero-title {
  /*margin-top: 0;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  /*padding-top: 0px;*/
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  width: 496px;
}

.hero-button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--secondary-font-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: block;
  align-items: center;
  order: 0;
  margin: 0 auto;
}

.hero-button:hover {
  background: var(--hovet-background-color);
}

/* Advantages*/

.advantages-container {
  display: flex;
}

.advantages-list{
  display: flex;
  gap: 24px;
}
.advantages-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  padding-bottom: 120px;
  width: 264px;
}

/*article*/

.article-container{
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.article-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 72px;
}

.article-list {

}

.article-item {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 120px;
  width: calc((100%-48) / 3);

}


/*Team*/
.team {
  background-color: var(--primare-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
  margin-top: 32px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/*Footer*/
.footer {
  background: var(--title-text-color);
  text-decoration: none;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-subject {
  color: var(--primare-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Button*/
.button {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--primare-background-color);
  

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  /*display: inline-block;*/
  text-align: center;
  border: 1px solid #e7e9fc;
  padding: 12px 24px 12px 24px;
}

.button:hover,
.button:focus {
  color: var(--secondary-font-color);
  background: var(--hovet-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio*/

.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}

.portfolio-list {
  padding-top: 96px;
  padding-bottom: 72px;
}

.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 32px;
  margin-bottom: 8px;
}

.portfolio-dcr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}
.portfolio-link {
  text-decoration-line: none;
}